.back {
  background-color: #eaeaea;
  min-height: 20vh;
  margin-bottom: 5vh;
}

.items {
  padding-top: 5vh;
  min-height: 10vh;
}

h1 {
  color: #868680;
  padding-left: 10vh;
}

.buttons {
  padding-right: 10vh;
}
