* {
  font-size: medium;
}

.question {
  width: 100%;
  justify-content: space-evenly;
  padding-right: 7vh;
  margin-top: 2vh;
}

span {
  font-size: small;
}

.sub {
  color: cornflowerblue;
  cursor: pointer;
}

::placeholder {
  /* Most modern browsers support this now. */
  color: #000000;
  font-weight: bold;
}

@media only screen and (max-width: 800px) {
  .question {
    padding-right: 7vh;
    margin-top: 7vh;
  }
}
